{% include 'toast.html' %}
{% include 'modal_product.html' %}
{% include 'modal_confirm_delete.html' %}
{% load static %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="{% static 'css/global.css' %}" />

  <style>.hidden{display:none!important}</style>
</head>

<body>
    {% include 'navbar.html' %}
        <main class="pt-16"> 
    {% block content %} {% endblock content %}
        </main>
    {% include 'toast.html' %}

</body>
</html>